                  
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html">{{name}}</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">Inicio</a></li>
                <li><a href="about.html">Acerca de Nosotros</a></li>
                <li><a href="contact.html">Contacto</a></li>
     

                
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    
                    {{#each benefits}}
                      <li><a href="category.html?cat={{category.id}}">{{category.name}}</a></li>
                    {{/each}}
                  </ul>
                </li>
     
				
              </ul>
            </div>
          </div>
        </div>
