<div class="container marketing">
        <h2 class="itemsTitle">Breakfast</h2>
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/burger.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/burger.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/burger.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!-- /.carousel -->
    </div>

    <div class="container marketing">
        <h2 class="itemsTitle">Lunch</h2>
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/chicken.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks_lussy.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/chicken_fry.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/fish-and-chips.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/burger.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!-- /.carousel -->
    </div>

        <div class="container marketing">
        <h2 class="itemsTitle">Dinner</h2>
        <div id="myCarousel3" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/chicken_fry.png" alt="Generic placeholder image">
                            <h4>Chicken</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/rice.png" alt="Generic placeholder image">
                            <h4>Rice</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/courinder.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/burger.png" alt="Generic placeholder image">
                            <h4>Meal</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->

                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-lg-4">
                            <img src="themes/assets/images/salate.png" alt="Generic placeholder image">
                            <h4>Salates</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/chicken_fry.png" alt="Generic placeholder image">
                            <h4>Chicken</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                        <div class="col-lg-4">
                            <img src="themes/assets/images/drinks.png" alt="Generic placeholder image">
                            <h4>Drink</h4>
                            <p><a class="btn btn-default" href="#" role="button">Add to cart &raquo;</a></p>
                        </div>
                        <!-- /.col-lg-4 -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel3" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#myCarousel3" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <!-- /.carousel -->
    </div>
