<div class="container marketing">

    {{#each  benefits}}
        <h2 class="itemsTitle">{{category.name}}</h2>
	<div id="myCarousel1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
			<div class="item active">
				<div class="row">
				{{#each benefits}}    
                 {{#ifless @index 3}}
                    <div class="col-lg-4">
						<img src="http://placehold.it/225x210" alt="Generic placeholder image">
						<h4>{{name}}</h4>
						<h5>{{description}}</h5>
                        <p>
                         <a id="modal-benefit" class="btn btn-default" role="button" onclick="showModalBenefit({{id}})">Ver Más</a>
                        </p>
					</div> 
                 {{/ifless}}
				{{/each}}
                </div>
				
			</div>
		</div>
		<a class="left carousel-control" href="#myCarousel1" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
		<a class="right carousel-control" href="#myCarousel1" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div>
    {{/each}}
	
</div>
