<div class="highlightSection">
    <div class="container">
        <div class="row">
            {{#each data }}
                
            
            <div class="col-lg-4">
                <div class="media">
                    <a href="menu/"><img src="themes/assets/images/nepali-momo.png" alt="nepali-momo"> </a>
                    <h3 class="media-heading text-primary-theme">{{name}}</h3>
                    <p>Steamed dumplings filled with slightly spiced minced meat served with special sauce.</p>
                </div>
            </div>
           {{/each}}
        </div>
    </div>
</div>