	<div class="introSection">
		<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="cntr">Los mejores beneficios al alcance de su mano<br>hasta un 70% de descuento por pertenecer a nuestra comunidad </h1>
			</div>
		</div>
		</div>
	</div>